
<html>
<head>

</head>
<body bgcolor="#00008b">
<center><h1><u><font color="#f0ffff">Assignments</font></u></h1></center>
<h2><u><font color="#f0ffff"> Date:10-09-2019</font></u></h2>
<label><strong><font color="#f0f8ff"> 1.Take a video(offline) and read it and play it and save it</font></strong></label><br><br>
<label><strong><font color="#f0ffff"> 2.Take a video(online) and read it and play it and save it</font></strong></label><br><br>
<label><strong><font color="#f0ffff"> 3.Take a video and count the how many of frames in that video</font></strong></label><br><br>
<label><strong><font color="#f0ffff"> 4.Select any frame and play it</font></strong></label><br><br>
<h2><u><font color="#f0ffff"> Date:11-09-19</font></u></h2>
<label><strong><font color="#f0ffff"> 1.Take a video and split it by specific time interval</font></strong>s</label><br><br>
<label><strong><font color="#f0ffff">2.Take a video and split it by specific percentage based</font></strong></label><br><br>
<label><strong><font color="#f0ffff">3.Take a video and split it by mentioning start time and end time (in seconds)</font></strong>s</label><br><br>
<h2><u><font color="#f0ffff">Date:12-09-19</font></u></h2>
<label><strong><font color="#f0ffff">1.Take a video and  in case if you want take a snap in the video simply press the mentioned letter in program or simply quit that video</font></strong></label><br><br>
</body>
</html>